<div class="container-fluid" ng-init="showImagePlants()">
    <div class="row" >
        <div class="col-sm-12 col-md-12 main">
            <div style="border-bottom:1px solid #ddd">
            <div class="row" style="position: relative;">
		        <div class="col-sm-6 col-md-6" >
                    <div style="margin-bottom: 20px;">
		              <h3>ImagePlants</h3>
                    </div>
		        </div>
		        <div class="col-sm-6 col-md-6 valign-bottom">
                    <div class="pull-right" style="margin-bottom: 15px;">
                        <button type="button" class="btn btn-primary" ng-click="$state.go('imageplant-create', {})">Create ImagePlant</button>
                    </div>
                </div>
		    </div>
		    </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Bucket</th>
                        <th>Created Time</th>
                        <th>Templates</th>
                        <th>Images</th>
                    </tr>
                </thead>
                <tbody ng-repeat="imagePlant in imagePlants" ng-click="viewImagePlant(imagePlant)">
                    <tr>
                        <td>{{imagePlant.name}}</td>
                        <td>{{imagePlant.bucket.name}}</td>
                        <td>{{imagePlant.creationTime | date:'medium'}}</td>
                        <td>{{imagePlant.numberOfTemplates}}</td>
                        <td>{{imagePlant.numberOfImages}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>