<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-12 col-md-12">
            <div style="border-bottom:1px solid #ddd">
                <div class="row" style="position: relative;">
                    <div class="col-sm-6 col-md-6" >
                        <div style="margin-bottom: 20px;">
                          <h3>Images</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-12"  style="margin-top: 20px;">
            <table class="table table-hover">
			    <thead>
			        <tr>
			            <th>Id</th>
			            <th>Width</th>
			            <th>Height</th>
			            <th>Format</th>
			            <th>Size (bytes)</th>
			            <th>Version</th>
			            <th>Uploaded Time</th>
			        </tr>
			    </thead>
			    <tbody ng-repeat="image in images" ng-click="viewImageContent(image)">
			        <tr data-toggle="modal" data-target="#myModal">
			            <td>{{image.id.imageId}}</td>
			            <td>{{image.metadata.dimension.width}}px</td>
			            <td>{{image.metadata.dimension.height}}px</td>
			            <td>{{image.metadata.format}}</td>
			            <td>{{image.metadata.size}}</td>
			            <td>{{image.version.templateName}}</td>
			            <td>{{image.dateTime | date:'medium'}}</td>
			            <div ui-view></div>
			        </tr>
			    </tbody>
			</table>
        </div>
    </div>
</div>
