<div class="container-fluid" style="padding-top: 20px;">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 col-md-8 col-md-offset-2 main" >
           <form class="form-horizontal" role="form">
	            <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Name</label>
				    <div class="col-sm-6">
                        <input ng-model="template.id.templateName" type="text" class="form-control" id="inputName" placeholder="Template Name">
				    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingUnit" class="col-sm-3 control-label">Resizing Unit</label>
                    <div class="col-sm-3">
                        <select ng-init="template.resizingConfig.unit = 'PIXCEL'" ng-model="template.resizingConfig.unit" class="form-control" id="inputResizingUnit">
                            <option value="PIXCEL">PIXCELS</option>
                            <option value="PERCENT">PERCENT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingWidth" class="col-sm-3 control-label">Width</label>
                    <div class="col-sm-3">
                        <input ng-model="template.resizingConfig.width" type="number" class="form-control" id="inputResizingWidth" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingHeight" class="col-sm-3 control-label">Height</label>
                    <div class="col-sm-3">
                        <input ng-model="template.resizingConfig.height" type="number" class="form-control" id="inputResizingHeight" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input ng-model="template.resizingConfig.isKeepProportions" type="checkbox"> Keep Proportions
                            </label>
                        </div>
                    </div>
                </div>
                <div style="height:20px;"></div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-2">
                        <button ng-click="$state.go('imageplant.templates', {});" class="btn btn-default">Cancel</button>
                    </div>
                    <div class="col-sm-2">
                        <button ng-click="createTemplate(template)" type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
            <pre>info = {{template | json}}</pre>
        </div>
    </div>
</div>