<div class="container-fluid">
    <div class="row" >
        <div class="col-sm-12 col-md-12">
            <div style="border-bottom:1px solid #ddd">
                <div class="row" style="position: relative;">
                    <div class="col-sm-6 col-md-6" >
                        <div style="margin-bottom: 20px;">
                          <h3>Create Template</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-8" style="margin-top: 20px;">
           <form class="form-horizontal" role="form">
	            <div class="form-group  {{(errorCode==400103 || errorCode==400106 || errorCode==400107) ? 'has-error' : ''}}">
                    <label for="inputName" class="col-sm-3 control-label">Name</label>
				    <div class="col-sm-6">
                        <input ng-model="template.name" type="text" class="form-control" id="inputName" placeholder="Template Name">
				    </div>
				    <div class="col-sm-offset-3 col-sm-12 {{(errorCode==400103 || errorCode==400106 || errorCode==400107) ? 'hide' : ''}}">
                        <span class="help-block">{{errorMessage}}</span>
                    </div>
                </div>
                <div style="height:20px;"></div>
                <div class="form-group">
                    <label for="inputResizingUnit" class="col-sm-3 control-label">Resizing Unit</label>
                    <div class="col-sm-3">
                        <select ng-model="template.resizingConfig.unit" class="form-control" id="inputResizingUnit">
                            <option value="PIXEL">PIXELS</option>
                            <option value="PERCENT">PERCENT</option>
                        </select>
                    </div>
                </div>
                <div class="form-group {{errorCode==400105 ? 'has-error' : ''}}">
                    <label for="inputResizingWidth" class="col-sm-3 control-label">Width</label>
                    <div class="col-sm-3">
                        <input ng-model="template.resizingConfig.width" type="number" class="form-control" id="inputResizingWidth" placeholder="">
                    </div>
                </div>
                <div class="form-group {{errorCode==400105 ? 'has-error' : ''}}">
                    <label for="inputResizingHeight" class="col-sm-3 control-label">Height</label>
                    <div class="col-sm-3">
                        <input ng-model="template.resizingConfig.height" type="number" class="form-control" id="inputResizingHeight" placeholder="">
                    </div>
                    <div class="col-sm-offset-3 col-sm-12 {{errorCode!=400105 ? 'hide' : ''}}">
                        <span class="help-block">{{errorMessage}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-6">
                        <div class="checkbox">
                            <label>
                                <input ng-model="template.resizingConfig.isKeepProportions" type="checkbox"> Keep Proportions
                            </label>
                        </div>
                    </div>
                </div>
                <div style="height:20px;"></div>
                <div class="form-group">
                    <div class="col-sm-offset-1 col-sm-2">
	                    <button ng-click="$state.go('imageplant.templates', {});" class="btn btn-default">Back</button>
	                </div>
                    <div class="col-sm-2">
                        <button ng-click="createTemplate(template)" type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>