<div class="container-fluid"  ng-init="showTemplate()">
    <div class="row" >
        <div class="col-sm-12 col-md-12 main">
            <div style="border-bottom:1px solid #ddd">
                <div class="row" style="position: relative;">
                    <div class="col-sm-6 col-md-6" >
                        <div style="margin-bottom: 20px;">
                          <h3>Template</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-8 main" >
           <form class="form-horizontal" role="form">
	            <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">Name</label>
				    <div class="col-sm-6">
				        <p class="form-control-static">{{template.id.templateName}}</p>
				    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingUnit" class="col-sm-3 control-label">Resizing Unit</label>
                    <div class="col-sm-3">
                        <p class="form-control-static">{{template.resizingConfig.unit}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingWidth" class="col-sm-3 control-label">Width</label>
                    <div class="col-sm-3">
                        <p class="form-control-static">{{template.resizingConfig.width}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingHeight" class="col-sm-3 control-label">Height</label>
                    <div class="col-sm-3">
                        <p class="form-control-static">{{template.resizingConfig.height}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputResizingHeight" class="col-sm-3 control-label">Keep Proportions</label>
                    <div class="col-sm-6">
                        <p class="form-control-static">{{template.resizingConfig.isKeepProportions}}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="height:20px;"></div>
    <div class="row" >
        <div class="col-sm-6 col-md-7 main">
            <div class="panel panel-default">
                <div class="panel-body">
                    
                    <span class="label label-warning {{template.isArchived ? '' : 'hide'}}">WARNING</span>
                    <h6 class="{{template.isArchived ? '' : 'hide'}}">This template still CANNOT be accessed. you need to activate it first.</h6>
                    <span class="label label-danger {{template.isArchived ? 'hide' : ''}}">WARNING</span>
                    <h6 class="{{template.isArchived ? 'hide' : ''}}">Deactivating this template will cause all associated images cannot be accessed.</h6>
                    <h6 class="{{template.id.templateName == 'Master' ? '' : 'hide'}}"><strong>Master template cannot be deactivated</strong></h6>
                    <div class="pull-right" style="margin-bottom: -15px;">
                        <button ng-click="updateTemplateAvailability(template)" type="submit" class="btn btn-link" ng-disabled="template.id.templateName == 'Master'"><h6>{{template.isArchived ? 'Activate' : 'Deactivate'}}</h6></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-sm-6 col-md-7 main">
            <div class="panel panel-default">
                <div class="panel-body">
                    <span class="label label-info">INFO</span>
                    <h6>This template can be removed only if there is no associated images exists.</h6>
                    <div class="pull-right" style="margin-bottom: -15px;">
                        <button ng-click="removeTemplate(template)" type="submit" class="btn btn-link" ng-disabled="!template.isRemovable"><h6>Remove</h6></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>